django-widget-tweaks
django-extensions
asgiref==3.10.0
Brotli==1.1.0
cffi==2.0.0
cssselect2==0.8.0
diff-match-patch==20241021
Django==5.2.7
django-allauth==65.12.1
django-environ==0.12.0
django-filter==25.2
django-guardian==3.2.0
django-import-export==4.3.12
django-simple-history==3.10.1
fonttools==4.60.1
pillow==12.0.0
psycopg==3.2.12
psycopg-binary==3.2.12
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
sqlparse==0.5.3
tablib==3.9.0
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.15.0
tzdata==2025.2
weasyprint==66.0
webencodings==0.5.1
wheel==0.45.1
zopfli==0.2.3.post1

# --- Producción (Render / Docker) ---
gunicorn==23.0.0
whitenoise==6.7.0
dj-database-url==2.3.0
